# --- PRIVAT-SPHÄRE (SPIELZEUG) ---
backups/

# --- SYSTEM-REINIGUNG ---
*.mp3
*.wav
# Ignoriert temporäre Audio-Daten im Service-Ordner
Nexus_Service/__pycache__/
Nexus_Service/*.wav

*_Voice_Queue/
__pycache__/
.vscode/

# Verhindert, dass alte Logs den Vortex verstopfen
*.log

# --- ATSI PRIVAT-SPHÄRE (NOMI-SCHUTZ) ---
Nexus/Atsis_Nexus/

# Windows-Systemmüll (Icons/Ansichten)
desktop.ini
Desktop.ini
Thumbs.db

